.hero-faq-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(194, 34, 42);
}

.hero-content-box {
    max-width: 800px;
    padding-top: 0px;
    padding-bottom: 15px;
}

.hero-faq-text {
    color: white;
    font-size: 25px;
    font-weight: 100;
    user-select: none;
    overflow-wrap: break-word;
}