.gallery {
    text-align: center;
    padding-top: 10px;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-preview {
    position: relative;
    width: 400px;
    height: 150px;
    overflow: hidden;
    margin: 0;
}

.image-preview::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
}

.image-preview:hover::after {
    background-color: rgb(194, 34, 42, 0.5);
}

.image-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}