.hero-main-pic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid rgb(194, 34, 42);
    padding-bottom: 7px;
}

.hero-content-box {
    max-width: 800px;
}